* {
  box-sizing: border-box;
}
/* link de la fuente: https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap */
@font-face {
  font-family: "letraCursiva";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/dancingscript/v15/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Header */
header {
  width: 960px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#headerMarca {
  width: 260px;
  height: 70px;
  float: left;
}
#headerMarca a {
  text-decoration: none;
}
#headerMarca h1 {
  font-family: "letraCursiva";
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: hsl(346, 68%, 22%);
  font-weight: bold;
}
#headerBotoPrinc {
  width: 600px;
  height: 70px;
  float: right;
}
#headerBotoPrinc ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
#headerBotoPrinc ul li {
  display: inline;
}
#headerBotoPrinc ul li a {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  height: 70px;
  line-height: 70px;
}
/* ---------- */
/* Cont */
#cont {
  width: 960px;
  height: 1530px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#tiendaExterior {
  width: 960px;
  height: 410px;
  background-image: url("../img/tienda-exterior.png");
  background-size: auto 410px;
  background-repeat: no-repeat;
  background-position: center;
}
#tiendaInteriorIzq {
  width: 480px;
  height: 350px;
  background-image: url("../img/tienda-interior-barra.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
#tiendaInteriorDer {
  width: 480px;
  height: 350px;
  background-image: url("../img/tienda-interior-mesa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.caracteristicasDestacables {
  width: 320px;
  height: 250px;
  background-color: hsla(32, 84%, 54%, 0.233);
  shape-outside: circle();
  clip-path: circle();
  float: left;
  position: relative;
  /* position: relative;Lo utilizo para "anclar" el 
  position: relative; usado en .caracteristicasDestacables p 
  ya que es el hijo*/
  margin-top: 10px;
}
.caracteristicasDestacables h2 {
  text-align: center;
  font-family: "letraCursiva";
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.caracteristicasDestacables h3 {
  text-align: center;
  font-family: "letraCursiva";
  margin: 0;
  padding: 0;
}
.caracteristicasDestacables a {
  /* width: 100%; En reemplazo de padding: 0 auto;*/
  /* ya que toma como inválido padding: 0 auto; */
  display: inline-block;
  font-size: 35px;
  height: 250px;
  width: 100%;
  line-height: 250px;
  text-decoration: none;
  color: hsl(346, 68%, 22%);
}
.caracteristicasDestacables p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 0 35px;
  /* Con 
  position: relative;
  top: -110px;
  logro posicionar el texto dentro los círculos */
  position: relative;
  top: -110px;
}
#informacionExtra {
  width: 960px;
  height: 250px;
  padding: 15px 15px 0 15px;
  /* Limpio los float, en este caso todos fueron a la izquierda */
  clear: left;
}
#informacionExtra h4 {
  /* margin-top: 10px; y margin-right: 0; no funcionan acá,
  para solucionarlo puse padding: 15px 15px 0 15px; en 
  #informacionExtra */
  font-family: "letraCursiva";
  font-size: 30px;
  margin: 0;
  padding: 0 0 0 5px;
}
#informacionExtra p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 0 75px;
  margin-bottom: 0;
}
/* ---------- */
/* footer */
footer {
  width: 960px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#footerNavInterno {
  width: 960px;
  height: 70px;
}
#footerNavInterno ul {
  /* No se puede centrar horizontalmente la lista con display 
  inline-block + margin 0 auto, text-align center si lo logró */
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#footerNavInterno ul li {
  display: inline;
}
#footerNavInterno ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  display: inline-block;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  height: 70px;
  line-height: 70px;
  border: 1px solid black;
}
#footerNota {
  width: 200px;
  height: 30px;
  float: left;
}
#footerNota p {
  margin: 0;
  padding: 0 15px;
  font-family: "letraCursiva";
  height: 30px;
  line-height: 30px;
}
#footerNavExterno {
  width: 400px;
  height: 30px;
  float: right;
}
#footerNavExterno img {
  height: 30px;
  width: auto;
  float: right;
}

/* contacto.html*/
#cont h2 {
  font-family: "letraCursiva";
  text-align: center;
  font-size: 40px;
}
.entradaFormulario {
  display: block;
  width: 500px;
  height: 70px;
  font-size: 25px;
  margin: 5px auto 0 auto;
  border: 1px solid hsl(346, 68%, 22%);
}
.entradaFormulario[rows] {
  /* Selecciona un elemento de clase entradaFormulario con atributo rows */
  height: 500px;
}
