#BotoPrinc{
    flex-wrap: wrap;
}
#BotoPrinc li:nth-child(1){
    order: 1;
}
#BotoPrinc li:nth-child(2){
    order: 3;
}
#BotoPrinc li:nth-child(3){
    order: 4;
}
#BotoPrinc li:nth-child(4){
    order: 2    ;
}
.BotoPrincLi {
    flex-basis: calc(100%/2);
    border-radius: 0px;
}
#medio{
    width: 480px;
    height: auto;
    border-radius: 45px;
}
#botones {
    top: calc(100% - 35px);
    width: 410px;
}

.svgIcon svg {
    width: 50px;
    height: 50px;
}
.svgIcon image {
    width: 50px;
    height: 50px;
}
#footerNavExterno img {
    height: 50px;
}